html{
    /* font-size: 2px !important; */
}
html, body{
    position: relative;
    height: 100%;
}
body{
    width: 750px;
    max-width: 750px; 
    margin: 0 auto;
    overflow: hidden;
}
.btn{
    
}
.font-size-16{
    font-size: 16px;
}
/* img {
    width: 100%;
  } */
.m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
.p-1{padding:.25rem!important}
.mt-2{
    margin-top: 12px;
}
.border-none{
    border: none !important;
}
.block{
    display: block;
}
.inline-block {
    display: inline-block;
}
.overflow-hidden{
    overflow: hidden !important;
}
.m-auto{
    margin: 0 auto;
}
.size-18{
    font-size: 18px;
}
.center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}
input,input:focus{

box-shadow: none !important;
}
.cursor{
    cursor: pointer;
}
.position-fixed {
    position: fixed;
}
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}
.d-flex{display:-ms-flexbox!important;display:flex!important}
.flex-1{
    flex: 1;
}
.justify-content-around{-ms-flex-pack:distribute!important;justify-content:space-around!important}
.align-items-center{-ms-flex-align:center!important;align-items:center!important}
.justify-content-between{-ms-flex-pack:justify!important;justify-content:space-between!important}
.justify-content-center{-ms-flex-pack:justify!important;justify-content:center!important}
.flex-column-reverse {
    flex-direction:column
}
.flex-wrap-wrap{
    flex-wrap: wrap;
}
.fl{
    float: left;
}
.mb-3{
    margin-bottom: 24px;
}
.pl-2 {
    padding-left: 12px;
}
.pl-1 {
    padding-left: 6px;

}
.pr-2 {
    padding-right: 6px;
}
.border-radius-6{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.d-table{
    display: table;
}
.table-cell {
    display: table-cell;
}
.vertical-align-middle{
    vertical-align: middle
}
.model {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
  }

  
  /* checkbox */
input[type="checkbox"],
input[type="radio"] {
    /* width: 24px;
	height: 23px; */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 23px;
    position: relative;
}
input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #dccdc8;
}
input[type="checkbox"]:checked::before {
    content: "\2713";
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #2d241f;
    color: #2d241f;
    font-size: 16px;
    font-weight: bold;
}

input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    font-size: 16px;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #2d241f;
    padding: 2px;
    }
input[type="radio"]:checked + label::before {
    background-color: #2d241f;
    background-clip: content-box;
    }
    input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    }

    
/* 点击弹出框，动画 */

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }

  @keyframes zoomIn {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
}
    50% {
        opacity: 1; 
    
    }
  }


.animated {
    
    animation-duration: 1s;
    animation-fill-mode: both
}

.animated.faster {
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}


@media (prefers-reduced-motion),(print) {
    .animated {
        -webkit-animation: unset !important;
        -webkit-transition: none !important;
        animation: unset !important;
        transition: none !important
    }
}
